html {
	-ms-touch-action: none;
}
.navbar {
	background: #60A8EB;
}
.title {
	color: #fff;
  /*font-weight: bold;*/
  font-size: 1.2em;
  height: 45px;
  line-height: 45px;
  margin: auto;
  text-align: center;
  text-indent: -1em;
  width: 100%;
  font-family: '方正兰亭准黑_GBK'
}
.back {
	color: #fff;
	line-height: 45px;
	float: left;
	padding-left: 1em;
	width: 30px;
	position: absolute;
}

#wrapper {
	position: absolute;
	z-index: 1;
	top: 0;
	bottom: 50px;
	left: 0;
	width: 100%;
	overflow: hidden;
	background: #f2f2f2;
}
#scroler {
	position: absolute;
	z-index: 1;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	width: 100%;
	-webkit-transform: translateZ(0);
	-moz-transform: translateZ(0);
	-ms-transform: translateZ(0);
	-o-transform: translateZ(0);
	transform: translateZ(0);
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-text-size-adjust: none;
	-moz-text-size-adjust: none;
	-ms-text-size-adjust: none;
	-o-text-size-adjust: none;
	text-size-adjust: none;
}

.footer-content ul li {
	float: left;
	list-style: none;
	width: 25%;
}
.footer-content ul {
	margin-left: 0px; 
	height: 35px; 
	border-top: 1px solid #ccc; 
	padding-top: 4px;
}
.footer-content ul li i {
	font-size: 20px;
}
.footer-content ul li div {
	margin-top: -22px;
	font-size: .8em;
	height: 1em;
}
.footer-content ul li a {
	color: #666;
	text-decoration: none;
}
.footer .footer-inner .footer-content {
	border-top: 1px solid #ccc !important;
	left: 0 !important;
	right: 0 !important;
	height: 4em;
	position: fixed!important; 
	background: #fff!important; 
	bottom: 0px!important; 
	padding: 0px !important; 
	border-top-width: 0px !important;
	z-index: 10;
}


.icon-text {
	margin-top: 6px;
	font-size: 18px;
}
.syinner>img {
	width: 45%;
}



/*.index */

.tasks {
	height: 30px;
	padding-top: 10px;
	display: flex;
 	align-items: center;
 	justify-content: space-between;
 	background: #fff;
	margin-top: 2px;
	padding: 25px 0;
	margin-bottom: 10px;
	font-size: 1.2em;
	border-bottom: 1px solid #cdcdcd;
	    
}
.tasks span {
	/*display: block;*/
}
.tasks img {
	width: 20px;
}
/*.tasks>div:nth-child(1) {
	background: #7ADF79;
}
.tasks>div:nth-child(2) {
	background: #F8C166;
}
.tasks>div:nth-child(3) {
	background: #6DCDFD;
}*/
.tasks>div {
	/*color: #fff;*/
  /*border-top: 1px solid #dedede;*/	
  /*border-bottom: 1px solid #dedede;*/
  /*border-left: 1px solid #dedede;*/
  /*border-right: 0;*/
  /*box-shadow: 0 1px 3px #dedeed;*/
  /*padding: 1em;*/
  /*display: flex;*/
  flex-direction: column;
}
.tasks>div:after {
  content: '|';
  float: right;
  color: #ccc;
  transform: scale(.5, 2);
  position: absolute;
  right: 0;
  top: -3px;
}
.tasks div a {
	color: #666;
}
.tasks div i {
	font-size: 1.3em;

	color: #fff;
}

.index_icon {
	width: 70px;
	height: 70px;
	border-radius: 70px;
	margin: auto;
	display: flex;
	align-items: center;
	justify-content: center;
}